<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rivis.feng.website.dao.DermaMapper" >
  <resultMap id="BaseResultMap" type="com.rivis.feng.website.pojo.po.Derma" >
    <id column="derma_id" property="dermaId" jdbcType="BIGINT" />
    <result column="derma_user_id" property="dermaUserId" jdbcType="BIGINT" />
    <result column="derma_name" property="dermaName" jdbcType="VARCHAR" />
    <result column="derma_color" property="dermaColor" jdbcType="VARCHAR" />
    <result column="derma_module_style" property="dermaModuleStyle" jdbcType="VARCHAR" />
    <result column="derma_background_image" property="dermaBackgroundImage" jdbcType="VARCHAR" />
    <result column="derma_create_time" property="dermaCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    derma_id, derma_user_id, derma_name, derma_color, derma_module_style, derma_background_image, 
    derma_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rivis.feng.website.pojo.po.DermaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from derma
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from derma
    where derma_id = #{dermaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from derma
    where derma_id = #{dermaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rivis.feng.website.pojo.po.DermaExample" >
    delete from derma
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rivis.feng.website.pojo.po.Derma" >
    insert into derma (derma_id, derma_user_id, derma_name, 
      derma_color, derma_module_style, derma_background_image, 
      derma_create_time)
    values (#{dermaId,jdbcType=BIGINT}, #{dermaUserId,jdbcType=BIGINT}, #{dermaName,jdbcType=VARCHAR}, 
      #{dermaColor,jdbcType=VARCHAR}, #{dermaModuleStyle,jdbcType=VARCHAR}, #{dermaBackgroundImage,jdbcType=VARCHAR}, 
      #{dermaCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rivis.feng.website.pojo.po.Derma" >
    insert into derma
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dermaId != null" >
        derma_id,
      </if>
      <if test="dermaUserId != null" >
        derma_user_id,
      </if>
      <if test="dermaName != null" >
        derma_name,
      </if>
      <if test="dermaColor != null" >
        derma_color,
      </if>
      <if test="dermaModuleStyle != null" >
        derma_module_style,
      </if>
      <if test="dermaBackgroundImage != null" >
        derma_background_image,
      </if>
      <if test="dermaCreateTime != null" >
        derma_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dermaId != null" >
        #{dermaId,jdbcType=BIGINT},
      </if>
      <if test="dermaUserId != null" >
        #{dermaUserId,jdbcType=BIGINT},
      </if>
      <if test="dermaName != null" >
        #{dermaName,jdbcType=VARCHAR},
      </if>
      <if test="dermaColor != null" >
        #{dermaColor,jdbcType=VARCHAR},
      </if>
      <if test="dermaModuleStyle != null" >
        #{dermaModuleStyle,jdbcType=VARCHAR},
      </if>
      <if test="dermaBackgroundImage != null" >
        #{dermaBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="dermaCreateTime != null" >
        #{dermaCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rivis.feng.website.pojo.po.DermaExample" resultType="java.lang.Integer" >
    select count(*) from derma
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update derma
    <set >
      <if test="record.dermaId != null" >
        derma_id = #{record.dermaId,jdbcType=BIGINT},
      </if>
      <if test="record.dermaUserId != null" >
        derma_user_id = #{record.dermaUserId,jdbcType=BIGINT},
      </if>
      <if test="record.dermaName != null" >
        derma_name = #{record.dermaName,jdbcType=VARCHAR},
      </if>
      <if test="record.dermaColor != null" >
        derma_color = #{record.dermaColor,jdbcType=VARCHAR},
      </if>
      <if test="record.dermaModuleStyle != null" >
        derma_module_style = #{record.dermaModuleStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.dermaBackgroundImage != null" >
        derma_background_image = #{record.dermaBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="record.dermaCreateTime != null" >
        derma_create_time = #{record.dermaCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update derma
    set derma_id = #{record.dermaId,jdbcType=BIGINT},
      derma_user_id = #{record.dermaUserId,jdbcType=BIGINT},
      derma_name = #{record.dermaName,jdbcType=VARCHAR},
      derma_color = #{record.dermaColor,jdbcType=VARCHAR},
      derma_module_style = #{record.dermaModuleStyle,jdbcType=VARCHAR},
      derma_background_image = #{record.dermaBackgroundImage,jdbcType=VARCHAR},
      derma_create_time = #{record.dermaCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rivis.feng.website.pojo.po.Derma" >
    update derma
    <set >
      <if test="dermaUserId != null" >
        derma_user_id = #{dermaUserId,jdbcType=BIGINT},
      </if>
      <if test="dermaName != null" >
        derma_name = #{dermaName,jdbcType=VARCHAR},
      </if>
      <if test="dermaColor != null" >
        derma_color = #{dermaColor,jdbcType=VARCHAR},
      </if>
      <if test="dermaModuleStyle != null" >
        derma_module_style = #{dermaModuleStyle,jdbcType=VARCHAR},
      </if>
      <if test="dermaBackgroundImage != null" >
        derma_background_image = #{dermaBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="dermaCreateTime != null" >
        derma_create_time = #{dermaCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where derma_id = #{dermaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rivis.feng.website.pojo.po.Derma" >
    update derma
    set derma_user_id = #{dermaUserId,jdbcType=BIGINT},
      derma_name = #{dermaName,jdbcType=VARCHAR},
      derma_color = #{dermaColor,jdbcType=VARCHAR},
      derma_module_style = #{dermaModuleStyle,jdbcType=VARCHAR},
      derma_background_image = #{dermaBackgroundImage,jdbcType=VARCHAR},
      derma_create_time = #{dermaCreateTime,jdbcType=TIMESTAMP}
    where derma_id = #{dermaId,jdbcType=BIGINT}
  </update>
</mapper>