<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rivis.feng.website.dao.SubjectOrderMapper" >
  <resultMap id="BaseResultMap" type="com.rivis.feng.website.pojo.po.SubjectOrder" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_user_id" property="orderUserId" jdbcType="BIGINT" />
    <result column="order_curriculum_id" property="orderCurriculumId" jdbcType="BIGINT" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="order_create_user_state" property="orderCreateUserState" jdbcType="VARCHAR" />
    <result column="order_cost" property="orderCost" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, order_user_id, order_curriculum_id, order_create_time, order_create_user_state, 
    order_cost, order_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rivis.feng.website.pojo.po.SubjectOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from subject_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from subject_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from subject_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rivis.feng.website.pojo.po.SubjectOrderExample" >
    delete from subject_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rivis.feng.website.pojo.po.SubjectOrder" >
    insert into subject_order (order_id, order_user_id, order_curriculum_id, 
      order_create_time, order_create_user_state, 
      order_cost, order_state)
    values (#{orderId,jdbcType=BIGINT}, #{orderUserId,jdbcType=BIGINT}, #{orderCurriculumId,jdbcType=BIGINT}, 
      #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderCreateUserState,jdbcType=VARCHAR}, 
      #{orderCost,jdbcType=VARCHAR}, #{orderState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rivis.feng.website.pojo.po.SubjectOrder" >
    insert into subject_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderUserId != null" >
        order_user_id,
      </if>
      <if test="orderCurriculumId != null" >
        order_curriculum_id,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="orderCreateUserState != null" >
        order_create_user_state,
      </if>
      <if test="orderCost != null" >
        order_cost,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderUserId != null" >
        #{orderUserId,jdbcType=BIGINT},
      </if>
      <if test="orderCurriculumId != null" >
        #{orderCurriculumId,jdbcType=BIGINT},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreateUserState != null" >
        #{orderCreateUserState,jdbcType=VARCHAR},
      </if>
      <if test="orderCost != null" >
        #{orderCost,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rivis.feng.website.pojo.po.SubjectOrderExample" resultType="java.lang.Integer" >
    select count(*) from subject_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update subject_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.orderUserId != null" >
        order_user_id = #{record.orderUserId,jdbcType=BIGINT},
      </if>
      <if test="record.orderCurriculumId != null" >
        order_curriculum_id = #{record.orderCurriculumId,jdbcType=BIGINT},
      </if>
      <if test="record.orderCreateTime != null" >
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderCreateUserState != null" >
        order_create_user_state = #{record.orderCreateUserState,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCost != null" >
        order_cost = #{record.orderCost,jdbcType=VARCHAR},
      </if>
      <if test="record.orderState != null" >
        order_state = #{record.orderState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update subject_order
    set order_id = #{record.orderId,jdbcType=BIGINT},
      order_user_id = #{record.orderUserId,jdbcType=BIGINT},
      order_curriculum_id = #{record.orderCurriculumId,jdbcType=BIGINT},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      order_create_user_state = #{record.orderCreateUserState,jdbcType=VARCHAR},
      order_cost = #{record.orderCost,jdbcType=VARCHAR},
      order_state = #{record.orderState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rivis.feng.website.pojo.po.SubjectOrder" >
    update subject_order
    <set >
      <if test="orderUserId != null" >
        order_user_id = #{orderUserId,jdbcType=BIGINT},
      </if>
      <if test="orderCurriculumId != null" >
        order_curriculum_id = #{orderCurriculumId,jdbcType=BIGINT},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreateUserState != null" >
        order_create_user_state = #{orderCreateUserState,jdbcType=VARCHAR},
      </if>
      <if test="orderCost != null" >
        order_cost = #{orderCost,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rivis.feng.website.pojo.po.SubjectOrder" >
    update subject_order
    set order_user_id = #{orderUserId,jdbcType=BIGINT},
      order_curriculum_id = #{orderCurriculumId,jdbcType=BIGINT},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_create_user_state = #{orderCreateUserState,jdbcType=VARCHAR},
      order_cost = #{orderCost,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>